DEFAULT cartridge
PROMPT 0
TIMEOUT 50

LABEL cartridge
    MENU LABEL Cartridge OS
    KERNEL mboot.c32
    APPEND /kernel.bin

LABEL cartridge_direct
    MENU LABEL Cartridge OS (Direct Boot)
    KERNEL /kernel.bin
